.header-wrapper-first {
    background-color: #ffffff;
    height: 60px;
}

.header-wrapper-second {
    background-image: url(../img/header.png);
}

.header-logo {
    height: 60px;
    margin: 0 auto;
}

.header-logo a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #ee364f;
    text-decoration: none;
    line-height: 60px;
}

.header-logo a:last-child {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #333333;
    margin-right: 9%;
}

.header-logo a:last-child {
    float: right;
}

.header-logo a:last-child img {
    float: right;
    margin-right: 0;
    margin-left: 20px;
}

.header-logo img {
    float: left;
    margin-right: 10px;
    margin-left: 9%;
    width: 30px;
    margin-top: 15px;
}

.header-content {
    position: relative;
    height: 320px;
    margin: 0 auto;
}

.header-content h1 {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: left;
    float: left;
    color: #333333;
}

.header-content h2 {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #333333;
}

.header-content h3 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: #333333;
}

.header-numbers {
    margin-top: 90px;
    margin-left: 9%;
    position: absolute;
    width: 42%;
}

.header-numbers .balance {
    margin-right: 18%;
    float: left;
}

.header-numbers .costs {
    margin-top: 8px;
}

.gallery-flex-container {
    margin: 25px 0 0 40px;
    display: flex; /* Флексы */
    height: 145px; /* Высота */
    color: #fff; /* Белый цвет текста */
    font-size: 2.6em; /* Размер шрифта */
    flex-flow: column wrap; /* Располагаем в виде колонок */
    width: 450px;
    float: right;
}

.wallet-flex-container {
    display: flex;
    flex-flow: row;
    float: left;
    bottom: 36px;
    position: absolute;
    margin-left: 9%;
    width: 42%;
}

.flex-wallet {
    width: 37%;
    height: 90px;
    border: solid 2px #eeeeee;
    background-color: #ffffff;
    border-radius: 2px;
    position: relative;
    text-align: center;
    cursor: pointer;
    margin-right: 2%;
}

.flex-wallet:last-child {
    margin-right: 0;
}

.flex-wallet img {
    float: left;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 20px;
}

.flex-wallet p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    text-align: left;
    color: #333333;
    margin-top: 30px;
}

.flex-wallet p:last-child {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #333333;
    margin-top: 0;
}

.wallet-flex-container a:last-child {
    position: absolute;
    bottom: 32px;
}

.header-content .wallet {
    float: right;
}

.header-content .wallet a {
    margin-right: 15px;
}

.goals-container {
    width: 46%;
    overflow: hidden;
    height: 320px;
    padding-right: 0;
    float: right;
}

.goals-picture {
    width: 100%;
    height: 320px;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.goals-item {
    overflow: hidden;
    position: relative;
    float: left;
    width: 635px;
    height: 324px;
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.bg {
    opacity: 1;
    z-index: 2;
    position: absolute;
    display: table;
    width: 100%;
    height: 320px;
    background-color: rgba(22, 41, 53, 0.32);;
    cursor: pointer;
}

.bg > span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
}

@media screen and (min-width: 1400px) {
    .goals-item {
        float: right;
    }

}