body {
    background-color: #f3f6f7;
}

div, section ::before, ::after {
    box-sizing: border-box;
}

li {
    list-style: none;
}

.nav_block {
    max-width: 1100px;
    min-width: 650px;
    margin: 30px auto 0;
    justify-content: space-between;
    flex-direction: row;
}

#content-two, #content-three, #content-fourth, #dept-content-two {
    display: none;
}

.menu {
    display: inline-block;
    align-content: space-between;
    width: 26%;
}

.tab {
    line-height: 30px;
    margin-bottom: 10px;
    border-radius: 2px;
    height: 60px;
    width: 93%;
    background: #fff;
    color: #666;
}

.simple-tab {
    width: 90%;
    height: 60px;
}

.active-tab {
    background: #ff003a;
    margin-bottom: 10px;
    color: #ffffff;
    padding-right: 20px;
    height: 60px;
    width: 100%;
    border-bottom: 0 none;
    border-radius: 2px;
}

.menu__tabs p {
    float: right;
    width: 70px;
    margin-top: -41px;
    font-size: 15px;
}

.active-tab a {
    color: #ffffff;
    padding-top: 9%;
}

.tab a {
    color: #666;
    padding-top: 6%;
}

.tab p {
    float: right;
    width: 70px;
    margin-top: -45px;
    margin-right: 8px;
}

.menu__tabs li a {
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
}

.content {
    display: inline-block;
    width: 73%;
    min-height: 238px;
    float: right;
    border-radius: 2px;
    margin-bottom: 10px;
}

.content__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 5;
    margin-top: -5px;
}

.content__container__item {
    position: relative;
    margin: 5px;
    padding: 10px;
    width: 130px;
    height: 130px;
    background: #ffffff;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
}

.content__container__item a {
    text-decoration: none;
    color: #666;
}

.content__container__item p {
    color: #666;
}

.item__image {
    padding: 17px;
}

.item__plus {
    margin-top: 35%;
    color: #666;
}

.content__container__form {
    width: auto;
    margin: 0 auto;
    padding-top: 70px;
}

#content-three {
    background-color: #ffffff;
    margin-top: 0;
    margin-left: 5px;
    height: 270px;
}

.form__hr {
    color: #333333;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

.content__container__form__select {
    width: 239px;
    height: 35px;
}

.form__input_text {
    width: 184px;
    height: 35px;
}

.form__input_submit {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background: #3e3e3e;
    color: #ffffff;
    border-color: transparent;
    float: right;
    transition: .3s;
}

.form__input_submit:hover {
    transition: .3s;
    transform: scale(.9);
}

.form__labels {
    color: #747474;
}

.sum {
    float: right;
    margin-right: -20px;
}

.edit_item {
    background: #444444;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    top: -8px;
    left: 105px;
    display: none;
}

.edit_item a {
    color: #ffffff;
    font-size: 15px;
}

.content__container__item:hover .edit_item {
    display: block;
}

.modal_window__selection_icon {
    float: right;
}

.cur_select {
    margin-bottom: 15px;
    height: 35px;
    width: 268px;
}

.cur_btns {
    /*margin-bottom: 15px;*/
    /*width: 60px;*/
}

.cur_btns button {
    /*padding-left: 23.3px;*/
    /*padding-right: 23.3px;*/
    outline: 0 !important;
}

.cur_btn {
    float: right;
    margin-right: 15px;
}


.calendar {
    width: 122px;
    height: 34px;
    /*margin-left: -1px;*/
    border: 1px solid #ccc;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    outline: 0 !important;
    font-weight: 400;
    background: #ffffff;
    text-shadow: 0 1px 0 #fff;
}

.dropdown-menu {
    background-color: #f2f2f2;
    height: 200px;
}

.edit_cat__cur_btn {
    margin-left: 42px;
}

.change_icon {
    top: 10%;
    left: 96%;
    height: auto;
}

.dropdown-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dropdown-menu-item {
    margin-bottom: 5px;
    padding: 7px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.modal-content {
    background-color: #f2f2f2;
}

.debt_p p {
    margin-top: 11px;
}

#content-fourth > .content__container__item > a {
    margin-top: 5px;
}

.save_new {
    margin-left: 126px;
}

.transfer_save {
    margin-left: 171px;
}

.save_repay {
    margin-left: 136px;
}

.dept-tab {
    background: #e0e0e0;
    padding: 10px;
}

.active-dept-tab {
    background: #44bcf2;
    padding: 10px;
}

.dept-content {
    display: inline-block;
}

.d_tab {
    list-style-type: none;
    display: block;
}

.dept__tabs {
    display: inline-flex;
}

.dept__tabs a {
    text-decoration: none;
    color: black;
    display: block;
}

#one-dept-tab {
    margin-right: 10px;
}

.change_dept {
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
}

.graphics {
    max-width: 1100px;
    min-width: 650px;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
}

.graph__pie {
    /*background: #e0e0e0;*/
    width: 50%;
    height: 300px;
    margin-right: 10px;
}

.graph__column {
    background: #e0e0e0;
    width: 50%;
    height: 300px;
    display: flex;
}

.graphics__container {
    display: flex;
    float: right;
    width: 73%;
    height: 300px;
}

/******************/

.slider-content{
    top: 15%;
    left: 49%;
    color: black;
}

.slider-content a {
    margin: 0 auto;
    padding: 7px;
    color: black;
    text-decoration: none;
}

.slider-frame {
    display: none;
}
.slider-frame--active {
    display: flex;
    justify-content: space-between;
}

.slider-arrow {
    width: 16px;
    height: 25px;
    cursor: pointer;
}
.slider-arrow--left {
    position: absolute;
    display: inline-flex;
    top: 5px;
    left: 10%;
}
.slider-arrow--right {
    position: absolute;
    display: inline-flex;
    top: 5px;
    right: 10%;
}

.slider {
    width: 100%;
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
}

#donutchart {
}

/******************/

.radios-as-buttons div {
    float: left;
}
.radios-as-buttons input {
    position: absolute;
    left: -9999px;
}
.radios-as-buttons label {
    display: block;
    margin: 0 0 10px -1px;
    padding: 5px 10px;
    border: 1px solid #BBBBBB;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
}
.radios-as-buttons input:checked + label {
    background: white;
}
.radios-as-buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radios-as-buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

label[for="other"], label[for="other_cat"] {
    margin-left: -2px;
}

#calendar-dropdown, #calendar-dropdown_cat {
    height: 32px;
    width: 126px;
    padding-left: 30%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#fc {
    left: 135px;
    top: 40px;
    width: 140px;
}